Flask==0.10.1
Flask-Login==0.2.6
Flask-OAuth==0.12
Flask-SQLAlchemy==1.0
Flask-Script==0.6.2
Jinja2==2.7.1
MarkupSafe==0.18
PyMySQL==0.6.2
SQLAlchemy==0.8.2
TwitterSearch==1.0.0
WTForms==1.0.4
Werkzeug==0.9.3
cloud==2.8.5
distribute==0.6.34
facepy==1.0.4
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.23
mock==1.0.1
oauth2==1.5.211
oauthlib==0.7.2
picrawler==0.1.1
plotly==1.4.2
pygal==1.5.1
requests==2.4.3
requests-oauthlib==0.4.2
six==1.8.0
wsgiref==0.1.2
